/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.stylish-font {
  font-family: 'Roboto', sans-serif;
}

@keyframes moveTop {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -150px, 0) scale3d(1, 1, 1);
  }
}

@keyframes moveCenter {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes moveBottom {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 150px, 0) scale3d(1, 1, 1);
  }
}

@keyframes moveShadow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveLines {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
.animate-moveTop {
  animation: moveTop 1.5s ease-out forwards;
}

.animate-moveLines {
  animation: moveLines 1s ease-out forwards;
}

.animate-moveTop {
  animation: moveTop 2s ease-out forwards;
}

.animate-moveBottom {
  animation: moveBottom 2s ease-out forwards;
}

.animate-moveShadow {
  animation: moveShadow 2.5s ease-out forwards;
}

.animate-moveCenter {
  animation: moveCenter 1s ease-out forwards;
}

.scale-120 {
  transform: scale(1.2);
}

.image-container {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.translate-x-6 {
  transform: translateX(1.5rem);
}